<div class="my-cart-page">
     <div class="my-cart">
        <div class="header-wrapper">
            <h1>Previous Orders</h1>
        </div>
        <br>

    <% if @previous_orders.empty? %>
        <h2>You have no previous orders</h2>
    <% else %>
        <% @previous_orders.each do |order| %>
        <div class="prev-order">
            <h2><%= "Order ID ##{order.id}" %></h2>
            <p><%= "Placed on #{order.time_ordered}" %></p>
            <h5> Items: </h5>
            <% order.products.each do |product| %>
                <p class="p-details"> <strong><%=  link_to(product.name, product_path)  %></strong> | by <%= product.profile.username %> | <%= "#{product.price} | x 1" %> </p>
            <% end %>
            <p>Total cost = $50</p>
            </div>
            <br>
        <% end %>
    <% end %>
    <%= link_to 'Back to profile', "/profiles/#{params[:id]}" %>
    </div>
</div>



     
