<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @profile.username %>
</p>

<p>
  <strong>About:</strong>
  <%= @profile.about %>
</p>

<p>
  <strong>Location:</strong>
  <%= @profile.location %>
</p>

<p>
  <strong>Joindate:</strong>
  <%= @profile.joindate %>
</p>
<br>

<% @profile.products.each do |product| %>
  <p> <%= link_to product.name, "/products/#{product.id}" %> </p>
<% end %>

<p>My current privilege is <%= current_user.role.privilege %> </p>


<% if current_user.role.id == 2 %>
    <p>Click Here to add an item to your store</p>
<% else %>
    <%= link_to "become an artist", "/profiles/#{@profile.id}/become_artist" %>
<% end %>
  


<br><br>
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
