     
<div class="my-cart-page">
     <div class="my-cart">
     <div class="header-wrapper">
          <h1>My Wishlist</h1>
     </div>
          <% if @wishlist.products.empty? %>
               <p>Your wishlist has zero items!</p>
          <% else %>
         
               <% @wishlist.products.each do |product| %>
                    <div class="cart-item">
                    <div class="cart-img">
                         <%= image_tag product.uploaded_image, class: "cart-image-size" %>
                    </div>
                    <div>
                    <%= link_to product.name, "/products/#{product.id}" %> 
                    </div>
                    Artist: <%= product.profile.username %>
                     
              
                    <div class="remove">
                         <%= link_to 'Remove Item', "/profiles/#{params[:id]}/show-wishlist/remove-item?product_id=#{product.id}" %>
                    </div>
                  
                    
               <% end %>
          <% end %>
     <%= link_to 'Back to Profile', "/profiles/#{current_user.profile.id}" %>
</div>


    
