
<div class="my-cart-page">

     <% if notice == 'Item removed from cart.' %>
     <div class="message-wrap">
     <%= inline_svg("_ionicons_svg_md-checkmark-circle.svg", class: "check-icon") %>
     <p id="item-added-notice"> <%= notice %> </p>  
     </div>
     <% end %>

<div class="my-cart">
          <h1>My Cart</h1>

          <% if @cart.product_variants.empty? %>
               <p>Your cart has zero items!</p>
          <% else %>
               <% @cart.product_variants.each do |product_variant| %>
               <% base_product = product_variant.product %>
               <% purchase_entry = ProductsPurchased.where(cart_id: @cart.id, product_variant_id: product_variant.id).first %>
                    <p>
                    <%= link_to base_product.name, "/products/#{base_product.id}" %> |
                    <%= "  Size: #{product_variant.size.sizing}" %>  -
                    <%= "  QTY: #{purchase_entry.purchase_QTY}" %>  +
                    <%= link_to 'Remove Item', "/profiles/#{params[:id]}/showcart/remove-item?product_variant_id=#{product_variant.id}" %>
                    </p>
               
               <% end %>
          <% end %>

          <% if @cart.product_variants.empty? %>
               <%= link_to 'Checkout', "" %>      <%# dead link - cant checkout if you have no items in the cart %>
          <% else %>
               <%= link_to 'Checkout', "/profiles/#{params[:id]}/checkout_cart?cart_id=#{@cart.id}" %>
          <% end %>
     </div>
</div>
     
  
    