<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @profile.username %>
</p>

<p>
  <strong>About:</strong>
  <%= @profile.about %>
</p>

<p>
  <strong>Location:</strong>
  <%= @profile.location %>
</p>

<p>
  <strong>Joindate:</strong>
  <%= @profile.joindate %>
</p>
<br>


<p>My current privilege is <%= current_user.role.privilege %> </p>

<br>

<% if current_user.role.id == 2  %>
     <% @profile.products.each do |product| %>
        <p><%= link_to product.name, "/products/#{product.id}" %></p>
        <br>
       <% if current_user.profile == @profile %>
            <p><%= link_to "Edit this product", {:controller => "products", :action => "edit", :id => product.id } %></p>
            <p><%= link_to 'Remove this product',  "/products/#{product.id}", method: :delete %></p>
      <% end %>
    <% end %>
    <% if current_user.profile == @profile %>
        <%= link_to 'Click Here to add an item to your store', new_product_path %></p>
    <% end %>
    <% else %>
    <%= link_to "become an artist", "/profiles/#{@profile.id}/become_artist" %>
<% end %>
  


<br><br>
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
