<div class="page-wrapper">
	<div class="page">
		<% if notice == "Signed in successfully." %>
			<p id="notice"><%= notice %></p>
		<% end %>
		<div class="banner-wrapper">
			<% if @profile.cover_image.attached? %>
				<%= image_tag  @profile.cover_image.service_url %>
			<% else %>
				<%= image_tag"banners/placeholder-banner.jpg" %>
			<% end %>
			<div class="profile-info">
				<% if @profile.avatar.attached? %>
					<div class="profile-img">
						<%= image_tag @profile.avatar, class: 'placeholder-profile' %>
					</div>
				<% else %>
					<%= image_tag "user.svg", class: "placeholder-profile" %>
				<% end %>
				<p>
					<strong>About:</strong>
					<%= @profile.about %>
				</p>
				<p>
					<strong>Location:</strong>
					<%= @profile.location %>
				</p>
				<p>
					<strong>Joindate:</strong>
					<%= @profile.created_at.to_date%>
				</p>
				<br>
				<p>
					<%= @profile.username %>'s current privilege is set to <%= @profile.user.role.privilege %>
				</p>
			</div>
			<h1 class="username">
				<%= @profile.username %>
			</h1>
		</div>
		<% if user_signed_in?%>
			<% if current_user == @profile.user %>
				<div class="user-actions">
					<h1 class="welcome">Welcome <%= @profile.username %>. What would you like to do?</h1>
					<br>
					<p><%= link_to 'View Order History', "/profiles/#{@profile.id}/previous_orders" %></p>
					<p><%= link_to 'View Wishlist', "/profiles/#{@profile.id}/show-wishlist"%></p>
					<p><%= link_to 'View Cart', "/profiles/#{@profile.id}/showcart"%></p>
					<% if current_user.role.id == 1 %>
						<h3><%= link_to 'Sell your art!', "/profiles/#{@profile.id}/become_an_artist" %> </h3>
					<% else %>
						<p>
							<%= link_to 'Add a product to the store', new_product_path %>
						</p>
					<% end %>
					<br>
					<p>
						<%= link_to 'Edit Profile', edit_profile_path(@profile) %>
					</p>
				</div>
			<% end %>
		<% end %>
		<h1 class="my-products-title">
			<% if @profile.products.length > 0 %>
				Products made by me!
			<% end %>
		</h1>
		<ul>
			<% @profile.products.each do |product| %>
				<% if product.uploaded_image.attached? %>
					<li class="product-image-link">
						<%= link_to (image_tag product.uploaded_image, class: "product-img"), "/products/#{product.id}/" %>
					<% else %>
						<li class="product-image-link">
							<%= link_to (image_tag "placeholder_image.svg", class:"product-img"), "/products/#{product.id}/" %>
						</li>
					<% end %>
					<div class="product-details-container">
						<p class="product-name">  <%= link_to product.name, "/products/#{product.id}",class: "product-name" %> $<%= product.product_variants.first.price %> </p>
						<p class="made-by"> By <%= link_to product.profile.username, "/profiles/#{product.profile.id}" %></p>
						<% if current_user %>
							<% if current_user.profile == @profile %>
								<%= link_to "Edit", {:controller => "products", :action => "edit", :id => product.id } %>
								<%= link_to 'Remove',  "/products/#{product.id}", method: :delete %>
							<% end %>
						<% end %>
					</div>
				</li>
			<% end %>
		</ul>
	</div>
</div>
