

<h2 class="header">Welcome to culturePop, the place for artists to share art they have created for their favourite franchises</h2>

<% if notice == "Signed out successfully." %>
  <div class="message-wrap">
    <%= inline_svg("_ionicons_svg_md-checkmark-circle.svg", class: "check-icon") %>
    <p id="item-added-notice"><%= notice %></p>    <%# need to have a notice that pops up saying that the item was successfully added %>
    <%= link_to inline_svg("_ionicons_svg_md-close.svg", class: "exit-icon"), "/", class: 'exit-link' %>
  </div>
<% end %>



<div class="page-wrapper">

    <div class="page">




        <% Product.all.each do |product| %>
            <div class="product-wrapper">
                <div class="product-img-wrapper">
                    
                    <% if product.uploaded_image.attached? %>

                        <%= link_to (image_tag product.uploaded_image , class: "product-img"), "/products/#{product.id}/" %>


                    <% else %>
                        <%= link_to image_tag('placeholder_image.svg'), "/products/#{product.id}" %>
                    <% end %>
                
                </div>
                <div class="product-details-container">
    
                    <strong> <p><%= link_to product.name, product %></p></strong>
                    <p><%= product.price %></p>
                    <p>by <%= link_to product.profile.username, product.profile %></p>
                </div>
            </div> 
    <% end %>
    </div>
 </div>