<h2>Welcome to culturePop, the place for artists to share art they have created for their favourite franchises</h2>

<div class="page-wrapper">
    <div class="page">
        <% Product.all.each do |product| %>
            <div class="product-wrapper">
                <div class="product-img-wrapper">
                    
                    <% if product.uploaded_image.attached? %>
                        <%= image_tag product.uploaded_image.first , class: "product-img" %>
                    <% else %>
                        <%= image_tag 'placeholder_image.svg' %>
                    <% end %>
                
                </div>
                <p><%= link_to product.name, product %></p>
                <p><%= product.price %></p>
                <p><%= link_to product.profile.username, product.profile %></p>
            </div> 
    <% end %>
    </div>
 </div>