<div class="page-wrapper">
	<div class="page">
		<div class="fandom-banner-wrapper">
			<%= image_tag "banners/#{params[:id]}.jpg", class: "tshirt-banner" %>
			<h2 class="banner-text">
				<%= @category.category %>
			</h2>
		</div>
		<ul>
			<% @products.each do |product| %>
				<% if product.category.id == params[:id].to_i %>
					<% if product.uploaded_image.attached? %>
						<li class="product-image-link">
							<%= link_to (image_tag product.uploaded_image, class: "product-img"), "/products/#{product.id}/" %>
						<% else %>
							<li class="product-image-link">
								<%= link_to (image_tag "placeholder_image.svg", class:"product-img"), "/products/#{product.id}/" %>
							</li>
						<% end %>
						<div class="product-details-container">
							<p class="product-name">  <%= link_to product.name, "/products/#{product.id}",class: "product-name" %> $<%= product.product_variants.first.price %> </p>
							<p class="made-by"> By <%= link_to product.profile.username, "/profiles/#{product.profile.id}" %></p>
						</div>
					</li>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>

