     <h1 class="header">T shirts</h1>

 <div class="page-wrapper">

    <div class="page">

        <% @tshirts.each do |product| %>
            <div class="product-wrapper">
                
                    
                    <% if product.uploaded_image.attached? %>
                    <div class="product-img-wrapper">
                        <%= link_to (image_tag (product.uploaded_image),class: "product-img"), ("/products/#{product.id}") %>
                        </div>
                    <% else %>
                        <%= image_tag 'placeholder_image.svg' %>
                    <% end %>
                
                <div class="product-details-container">
                    <p><%= link_to product.name, product %></p>
                    <p><%= product.base_price %></p>
                    <p><%= link_to product.profile.username, product.profile %></p>
                </div>
            </div> 
    <% end %>
    </div>
 </div>

 <footer>This is the footer</footer>