<div class="my-cart-page">
     <div class="my-cart">
        <h1>Previous Orders</h1>
        <hr>
        <% if @previous_orders.empty? %>
            <h4>You have no previous orders</h4>
        <% else %>
            <% @previous_orders.each do |order| %>
            <h4>
                <%= "Order ID #CPOP#{order.id}" %>
            </h4>
            <h4>
                <%= "Placed on #{order.time_ordered}" %>
            </h4>
            <% order.product_variants.each do |product_variant| %>
                <% purchase_entry = ProductsPurchased.where(cart_id: order.id, product_variant_id: product_variant.id).first %>
                <p> 
                    <%= "#{product_variant.product.name} | Size: #{product_variant.size.sizing} | QTY: #{purchase_entry.purchase_QTY} | $#{product_variant.price} " %> 
                </p>
            <% end %>
            <h4> 
                <%= "Order total: #{number_to_currency(order.total)}"%>
            </h4>
            <br>
         <% end %>
      <% end %>
    <hr>
    <br>
    <%= link_to 'Back to profile', "/profiles/#{params[:id]}" %>
    </div>
    </div>
</div>



     
