<div class="page-wrapper">
	<div class="page">
		<% if notice == 'The item has been successfully added to your cart.' %>
			<div class="message-wrap">
				<%= inline_svg("_ionicons_svg_md-checkmark-circle.svg", class: "check-icon") %>
				<p id="item-added-notice"><%= notice %></p>
				<p> <%= link_to 'To cart.', "/profiles/#{current_user.profile.id}/showcart" %> </p>
				<%= link_to inline_svg("_ionicons_svg_md-close.svg", class: "exit-icon"), "/products/#{@product.id}?product_size=#{params[:product_size]}", class: 'exit-link' %>
			</div>
		<% elsif notice == 'Sorry, you need to sign in to add to cart.' %>
			<div class="message-wrap">
				<p id="qty-exceeded-notice"><%= notice %></p>
				<%= link_to 'Sign in?', "/users/sign_in", class: 'exit-link' %>
				<%= link_to inline_svg("_ionicons_svg_md-close.svg", class: "exit-icon"), "/products/#{@product.id}", class: 'exit-link' %>
			</div>
		<% elsif notice == 'Sorry, you need to sign in to add to wishlist.' %>
			<div class="message-wrap">
				<p id="qty-exceeded-notice"><%= notice %></p>
				<%= link_to 'Sign in?', "/users/sign_in", class: 'exit-link' %>
				<%= link_to inline_svg("_ionicons_svg_md-close.svg", class: "exit-icon"), "/products/#{@product.id}", class: 'exit-link' %>
			</div>
		<% elsif (notice != nil) && (notice.include? "out of stock") %>
			<div class="message-wrap">
				<p id="out-of-stock-notice"><%= notice %></p>
				<%= link_to inline_svg("_ionicons_svg_md-close.svg", class: "exit-icon"), "/products/#{@product.id}?product_size=#{params[:product_size]}", class: 'exit-link' %>
			</div>
		<% end %>
		<div class="product">
			<% if @product.uploaded_image.attached? %>
				<%= image_tag @product.uploaded_image.service_url, class: 'image-size' %>
			<% else %>
				<p>There were errors displaying the image</p>
			<% end %>
			<div class="product-info">
				<h1 class="product-title">
					<%= @product.name %>
				</h1>
				<p>
					By <%= link_to @product.profile.username, @product.profile  %>
				</p>
				<br>
				<p>
					<%= @product.description %>
				</p>
				<br>
				<p>
					Tags:  <%= link_to @product.fandom.fandom, "/fandoms/#{@product.fandom.id}" %>
					<%= link_to @product.category.category, "/#{@product.category}" %>
				</p>
				<br>
				<p class="price">
					<%= "$#{price(params[:product_size], @product)}" %>
				</p>
				<% params[:product_size] = set_product_size(params[:product_size], @product) %>
				<br>
				<br>
				<div class="add-to">
					<%= render "add_to_cart" %>
					<div class="wishlist-container">
						<div><%= render "wishlist_box" %></div>
					</div>
				</div>
				<% if user_signed_in? && owning_artist(@product) %>
					<br>
					<br>
					<br>
					<%= link_to "Add a #{@product.name} variant", "/products/#{params[:id]}/add-variant" %>
					<br>
					<br>
					<h3>Current stock in your store </h3>
					<table>
						<thead>
							<tr>
								<th>Size</th>
								<th>SKU</th>
								<th>Price ($AUD)</th>
								<th colspan="3"></th>
							</tr>
						</thead>
						<tbody>
							<% @product.product_variants.each do |variant| %>
								<tr>
									<td><%= variant.size.sizing %>  </td>
									<td><%= variant.stock_QTY %></td>
									<td><%= variant.price  %></td>
									<td><%= link_to 'Edit', "/products/#{params[:id]}/edit-variant/#{variant.id}" %></td>
									<td><%= link_to 'Delete', "/products/#{params[:id]}/remove-variant/#{variant.id}" %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				<% end %>
			</div>
		</div>
	</div>
</div>
</div>
