<%= form_tag '/charges/checkout_cart_success' do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span><%= "Cart total: $#{cart_total(@cart.id)}" %></span>
    </label>
  </article>

  <%= hidden_field_tag :float_amount, cart_total(@cart.id) %>
  <%= hidden_field_tag :cart_amount, (cart_total(@cart.id)*100).to_i %>
  <%= hidden_field_tag :cart_id, @cart.id %>

  <% amount = "#{cart_total(@cart.id)*100}"%>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Checkout cart"
          data-amount="<%= j amount %>"
          data-locale="auto"></script>
<% end %>
