<!DOCTYPE html>
<html>
  <head>
    <title>culturePop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <style>
       @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
    </style>
  </head>

  <body>


  
  
  
  <div class="nav-wrapper">

    <nav class="main-nav">

      <div class="left-nav">
          <div class="logo">
            <%= link_to 'CulturePop', '/' %>  
          </div>

            <%= form_tag(products_path, method: :get) do %>
               <div class ="search-wrapper">
                  <%= text_field_tag(:search, params[:search], placeholder: "Search all products", class: "form-control") %>
                  <%= submit_tag ("Go"), class:"btn btn-tertiary"  %>
              <% end %>
              </div>
         
          
      </div>

        <div class="user-info">
          <% if current_user %>
              <% if current_user.profile.nil? %>
                  <%= link_to "Create Profile", new_profile_path %>
              <% else %>
                
             <%= link_to (image_tag "user.svg", class: "user-icon"), "/profiles/#{current_user.profile.id}" %> 
    
     
                      
              
                <% if current_user.profile.present? %>
                    <div class="cart-icon">
                        <%= link_to image_tag('shopping-cart-grey.svg'), {:controller => "profiles", :action => "showcart", :id => current_user.profile.id } %>
                    </div>
                <% end %>
                
              <% end %>
              
            <% end %>
            <%= render 'devise/menu/login_items' %>
          </div>
    </nav>

        <div class="categories-nav">
            
            <%= link_to 'T-Shirts', '/tshirts' %>
            <%= link_to 'Prints', '/prints' %>
            <%= link_to 'iPhone Cases', '/iphonecases' %>
            <%= link_to 'Stickers', '/stickers' %>
        </div>

  </div>
      
</body>
  
  <%= yield %>


</html>  