<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<div class="nav-wrapper">
       <nav class="main-nav">
       
        <div class="logo">
           <%= link_to 'culturePop', '/' %>  
        </div>
        <div class ="search-wrapper">
        search
        </div>
        
          <div class="user-info">
            <%= link_to 'profile', new_profile_path %>|
            <%= link_to 'cart', '/' %>|
            <%= render 'devise/menu/registration_items' %>|
            <%= render 'devise/menu/login_items' %>
          </div>
       </nav>
       <div class="categories-nav">
          <div class="link">
            <%= link_to 'tshirts', '/' %>
          </div>
          <div class="link">
            <%= link_to 'prints', '/' %>
          </div>
          <div class="link">
            <%= link_to 'collectibles', '/' %>
            </div>
          <div class="link">
            <%= link_to 'stickers', '/' %></div>
          <div class="link">
            <%= link_to 'fandom', '/' %>
          </div>
        </div>
  </div>

    
      
    <%= yield %>
  </body>
</html>